In [1]:
import pandas as pd

In [3]:
### Task One : Load the dataset into a Pandas DataFrame and display the first 5 rows.

tt = pd.read_csv('C:/Users/User pc/Downloads/archive/Titanic.csv')

In [5]:
tt

print(tt.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [13]:


### Task Two : Calculate and print the basic statistics (mean, median, standard deviation) for numerical columns such
## as age and fare.

statistics = tt[['Age', 'Fare']].agg(['mean', 'median', 'std'])

# Print the statistics
print("Basic Statistics for Age and Fare:")
print(statistics)

Basic Statistics for Age and Fare:
              Age       Fare
mean    29.699118  32.204208
median  28.000000  14.454200
std     14.526497  49.693429

In [15]:

##Task Three (a)

# Assuming you have already loaded the Titanic dataset into a DataFrame named 'tt'

# Count the number of passengers who survived
survived_count = tt['Survived'].sum()

# Calculate the percentage of passengers who survived
survived_percentage = (survived_count / len(tt)) * 100

# Print the count and percentage
print("Number of passengers who survived:", survived_count)
print("Percentage of passengers who survived:", survived_percentage)

Number of passengers who survived: 342
Percentage of passengers who survived: 38.38383838383838

In [16]:
##Task Three (b)

## What is the average age of passengers on board? Print the result.

average_age = tt['Age'].mean()

# Print the result
print("Average age of passengers:", average_age)

Average age of passengers: 29.69911764705882

In [17]:

## Task Three (c)

##How many passengers travelled in each passenger class (Pclass)? Print the count for each class

passenger_class_count = tt['Pclass'].value_counts()

# Print the count for each class
print("Passenger Count by Class:")
print(passenger_class_count)

Passenger Count by Class:
3    491
1    216
2    184
Name: Pclass, dtype: int64

In [18]:
### Task Three (d)

##What is the survival rate for male and female passengers separately? Print the survival rate for each
##gender.


survival_rate_gender = tt.groupby('Sex')['Survived'].mean()

# Print the survival rate for each gender
print("Survival Rate by Gender:")
print(survival_rate_gender)

Survival Rate by Gender:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64